.services-page {
  padding: 120px 0;
}

.services-intro {
  padding-top: 80px;
  max-width: 800px;
  margin: 0 auto 100px;
  text-align: center;
}
@media (max-width: 768px) {
  .services-intro{
    margin-top: 150px;
    padding: 10px;
  }
}

.services-intro h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
}

.services-intro p {
  margin-top: 20px;
  color: #cfcfcf;
  line-height: 1.7;
}

/* SERVICE BLOCK */
.service-item {
  max-width: 800px;
  margin: 0 auto 120px;
  text-align: center;
}

.service-item h2 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  margin-bottom: 24px;
}

.service-item img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  margin-bottom: 24px;
}

.service-item p {
  color: #cfcfcf;
  line-height: 1.7;
  font-size: 16px;
}

/* FEATURED (BRAZILIAN WAXING) */
.service-item.featured h2 {
  color: #d32f2f;
}
/* FOOTER */
.footer {
  border-top: 1px solid rgba(255,255,255,0.15);
  padding: 20px 0;
  text-align: center;
}

.footer p {
  font-size: 14px;
  color: #bdbdbd;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .service-item img {
    height: 260px;
  }

  .services-intro h1 {
    font-size: 36px;
  }
}
